.black{
    background-color: black;
    justify-content: space-around;
    height: 100px;
    font-size: 50px;
    padding-bottom: 70px;
}
li{
    color:white ;
    list-style: none;
    gap: 25px;
    /* margin-bottom: 54px;
    padding-bottom: 54px; */
}
.black{
    display: flex;
}
.gap{
    gap: 30px;
    display: flex;
}
.container{
    z-index: index -5;
    position: relative;
    text-align: center;
}
.text{
    font-size:70px ;
    color: white;
    text-transform: capitalize;
    padding: 250px;
}
body{
    background-image: url("./assets/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    padding: 0px;
}
.button{
    font-size: 90px;
    text-transform: capitalize;
    color: white;
    border-radius: 9px;
    background-color: purple;
    border: none;
    width: 1000px;
}
header{
    margin-top: 24px;
    /* margin-bottom: 24px; */
}
.button1{
    font-size: 50px;
    text-transform: capitalize;
    color: white;
    border-radius: 9px;
    background-color: purple;
    border: none;
    width: 400px;  
}
p{
    font-size: 45px;
    margin-top: 0px;
    padding-top: 0px;
}
